<activity android:name=".SecondActivity">
    <intent-filter>
        <action android:name="stam1234"/>
        <category android:name="android.intent.category.DEFAULT"/>
    </intent-filter>
</activity>

<activity android:name=".ThirdActivity">
    <intent-filter>
        <action android:name="stam1234"/>
        <category android:name="android.intent.category.DEFAULT"/>
    </intent-filter>
</activity>